.chart-horiz .chart { /*width: 90%*/ }
 
.chart-horiz .chart li {
  display: block;
  height: 23px;
  margin-top: 3px;
  position: relative
}
 
.chart-horiz .chart li:before {
  color: #fff;
  content: attr(title);
  left: 5px;
  position: absolute
}
 
.chart-horiz .chart li.title:before {
  color: black;
  font-weight: bold;
  left: 0
}
 
.chart-horiz .chart li:first-child { margin-top: 0 }
 
.chart-horiz .chart li .bar {
  background: #009dc1;
  height: 100%;
  min-width: 164px
}
 
.chart-horiz .chart li .number {
  color: #009dc1;
  font-size: 18px;
  font-weight: bold;
  padding-left: 5px;
  position: absolute;
  top: -3px
}
 
.chart-horiz .chart li.past .bar { background: #009dc1 }
 
.chart-horiz .chart li.past .number { color: #009dc1}
