{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main" style="max-width:30%;float:left;">
{% if app_list %}
    {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
        <table>
        <caption>
            <a href="{{ app.app_url }}" class="section" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
        </caption>
        {% for model in app.models %}
            <tr class="model-{{ model.object_name|lower }}">
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>




        <div id="content-main2" style="max-width:40%;float:left; padding-right:10px">
        {% if user_not_approved %}
            <div class="app-news module">
                <table>
                    <caption> <a href="" class="section">New author requests</a> </caption>
                    <tbody>
                    {% for user in user_not_approved %}
                         <tr class="model-user">
                             <th scope="row"><a href="">{{user.email}}</a></th>
                             {% if show_approve_editor %}
                             <td><a href="/admin/editor/approve/{{user.username}}" class="addlink">Add as editor</a></td>
                             {% endif %}
                             <td><a href="/admin/author/approve/{{user.username}}" class="addlink">Add as author</a></td>
                             <td><a href="/admin/author/reject/{{user.username}}" class="changelink">Reject</a></td>
                         </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
         {% endif %}



         {% if article_to_approve %}
            <div class="app-news module">
                <table>
                    <caption> <a href="" class="section">Articles to approve</a> </caption>
                    <tbody>
                    {% for article in article_to_approve %}
                         <tr class="model-user">
                             <th scope="row"><a href="">{{article.title}}</a></th>
                             <td><a href="/admin/article/approve/{{article.id}}" class="addlink">Publish</a></td>
                             <td><a href="/admin/article/reject/{{article.id}}" class="changelink">Delete</a></td>
                         </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
         {% endif %}



         {% if draft_article %}
            <div class="app-news module">
                <table>
                    <caption> <a href="" class="section">Your articles at draft</a> </caption>
                    <tbody>
                    {% for article in draft_article %}
                         <tr class="model-user">
                             <th scope="row"><a href="">{{article.title}}</a></th>
                             <td><a href="/admin/article/request/{{article.id}}" class="addlink">Request to Publish</a></td>
                             <td><a href="/admin/article/reject/{{article.id}}" class="changelink">Delete</a></td>
                         </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
         {% endif %}



            {% if editors_desk_article %}
            <div class="app-news module">
                <table>
                    <caption> <a href="" class="section">Your articles at Editors Desk</a> </caption>
                    <tbody>
                    {% for article in editors_desk_article %}
                         <tr class="model-user">
                             <th scope="row"><a href="">{{article.title}}</a></th>
                             <td><a href="/admin/article/reject/{{article.id}}" class="changelink">Delete</a></td>
                         </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
         {% endif %}



            {% if published_article %}
            <div class="app-news module">
                <table>
                    <caption> <a href="" class="section">Your previous published articles</a> </caption>
                    <tbody>
                    {% for article in published_article %}
                         <tr class="model-user">
                             <th scope="row"><a href="">{{article.title}}</a></th>
                             <td><a href="/admin/article/reject/{{article.id}}" class="changelink">Delete</a></td>
                         </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
         {% endif %}





        </div>

{% block sidebar %}
<div id="content-related" style="max-width:30%;float:left;">
    <div class="module" id="recent-actions-module" >
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>









{% endblock %}

</div>

{% endblock %}






