{% load i18n admin_urls %}
<div id="bottombar">



{% if show_save %}<button title="{% trans 'Request to publish' %}" type="submit" name="_req_publish"><i class="fa fa-lg fa-floppy-o"></i><i class="fa fa-caret-right"></i>{% if is_popup %}<i class="fa fa-lg fa-times"></i>{% else %}<i class="fa fa-lg fa-list-alt"></i>{% endif %} <span class="text">{% trans 'Request to publish' %}</span></button>{% endif %}

{% if show_save_as_draft %}
    <button title="{% trans 'Save as draft' %}"
            type="submit"
            name="_save_as_draft">
        <i class="fa fa-lg fa-floppy-o"></i>
        <i class="fa fa-caret-right"></i>
        <i class="fa fa-lg fa-plus-square-o"></i>
        <span class="text">{% trans 'Save as draft' %}</span>
    </button>
{% endif %}




{% if show_delete_link %}
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
     <a title="{% trans "Delete" %}" href="{% add_preserved_filters delete_url %}" class="button deletelink"><i class="fa fa-lg fa-question"></i><i class="fa fa-caret-right"></i><i class="fa fa-trash-o fa-lg"></i> <span class="text">{% trans "Delete" %}</span></a>
{% endif %}
</div>