<!DOCTYPE html>
<html>
    <head>

                    {% load static %}
            <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    </head>

    <body>



        <div style="width:500px;margin:0 auto;">
        <form id="user_form" method="post" action="/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            {% load crispy_forms_tags %}

            {{ user_form|crispy }}
            {{ profile_form|crispy }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
            </div>

    </body>
</html>