<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stripe</title>
	
<link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>

      {% load staticfiles %}

    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/stripe.css" %}" rel="stylesheet">

<!-- owl carousel -->
<!-- Important Owl stylesheet -->
<link rel="stylesheet" href="{% static "owl-carousel/owl.carousel.css" %}">
 <!-- Default Theme -->
<link rel="stylesheet" href="{% static "owl-carousel/owl.theme.css" %}">



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-stripe" role="navigation">
        <div class="container-fluid">


          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only white">Toggle navigation</span>
              <span class="icon-bar white"></span>
              <span class="icon-bar white"></span>
              <span class="icon-bar white"></span>
            </button>
            <a class="brand-stripe" href="#"><img src="{% static "img/stripe_icon.png" %}"></a>
          </div> <!--navbar header ends here-->


          <div id="navbar" class="navbar-collapse collapse navbar-collapse-stripe">
            <ul class="nav navbar-nav navbar-stripe-nav navbar-left">
				<li>YOUNGBLOOD</li>
			</ul>

            <ul class="nav navbar-nav navbar-stripe-nav navbar-right">
			  <li>


<div class="search">
<form class="" role="search" name="SearchForm" method="get">
<input class="input-stripe"  maxlength="64" id="SearchForm" value="Search" />
<button class="srch_btn btn btn-stripe" type="submit"><i class="glyphicon glyphicon-search white-icon"></i></button>
</form>
</div>

				</li>
            </ul>

          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav><!-- /Static navbar -->

		








  








<div id="owl-demo" class="owl-carousel owl-theme text-center">


  <div class="item">
	<img src="{% static "img/slider_1.png"  %}">
        <div class="item-caption">
            <h3>I love this title!</h3>
 
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
  </div>
  
<div class="item">
	<img src="{% static "img/slider_2.png" %}">
        <div class="item-caption">
            <h3>Dhanmondi Vs. Banani: A Food Cart Face Off</h3>
 
            <p>by Anogh Zaman</p>
 
            
        </div>
  </div>

<div class="item">
	<img src="{% static "img/slider_3.png" %}">
        <div class="item-caption">
            <h3>I love this title!</h3>
 
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
 
            <p><a href="#">Read More</a></p>
        </div>
  </div>

<div class="item">
	<img src="{% static "img/slider_4.png" %}">
        <div class="item-caption">
            <h3>I love this title!</h3>
 
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
 
            <p><a href="#">Read More</a></p>
        </div>
  </div>

<div class="item">
	<img src="{% static "img/slider_1.png" %}">
        <div class="item-caption">
            <h3>I love this title!</h3>
 
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
 
            <p><a href="#">Read More</a></p>
        </div>
  </div>

<div class="item">
	<img src="{% static "img/slider_1.png" %}">
        <div class="item-caption">
            <h3>I love this title!</h3>
 
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
 
            <p><a href="#">Read More</a></p>
        </div>
  </div>

<div class="item">
	<img src="{% static "img/slider_1.png" %}">
        <div class="item-caption">
            <h3>I love this title!</h3>
 
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
 
            <p><a href="#">Read More</a></p>
        </div>
  </div>
</div>













<div class="row stripe-row">
  <div class="col-md-4">

		<ul class="recent">
			<h1>RECENT</h1>
			<li><a href="#">Agents of S.H.I.E.L.D. “Heavy Is the Head”(An Episode Review)</a></li>
			<li><a href="#">DES: Dhaka Electronica Scene (An Interview)</a></li>
			<li><a href="#">How To Start Watching Doctor</a><li>
			<li><a href="#"> Who What To Wear This Winter (A Guidebook;
			Trust Me, I Own A Sweater)</a></li>
			<li><a href="#">Why Stores in Dhaka Do Not Invest in Original Games (If They Can Help It) </a></li> 
			<li><a href="#">To All Dhaka City Food Carts: Make It </a></li>
			<li><a href="#">Snappy, I Have To Beat Rush Hour</a></li>
		</ul>
  </div> <!--col md 4 ends-->
  

	<div class="col-md-8">
		<div class="popular">
			<h1>POPULAR</h1>
		
			<div class="row post">
				<h2><a href="#">Agents of S.H.I.E.L.D. "Heavy Is the Head" (An Episode Review)</a></h2>
				<div class="col-md-5"><img src="{% static "img/pop_post_1.png" %}"></div>
				<div class="col-md-7">
					<p>In its ﬁrst season, Marvel's Agents of S.H.I.E.L.D. relied heavily on a procedural format with overarching larger thematic storylines, like the ones concerning the Clairvoyant and Coulson's mysterious return from the dead.</p>

				</div> <!--col-md-7 ends-->
			</div> <!--post ends-->

			<div class="row post">
				<h2><a href="#">The Fault in Our Stars (A Preview)</a></h2>
				<div class="col-md-5"><img src="{% static "img/pop_post_2.png" %}"></div>
				<div class="col-md-7">
					<p>Who loves a great, adorkable young adult cliché for a Thursday night in? Why, you, dear reader! And, you certainly got more than you bargained for.</p>

				</div> <!--col-md-7 ends-->
			</div> <!--post ends-->


<div class="row post">
				<h2><a href="#">DES: Dhaka Electronica Scene (An Interview)</a></h2>
				<div class="col-md-5"><img src="{% static "img/pop_post_3.png" %}"></div>
				<div class="col-md-7">
					<p>We met up with Fahad Zaman (sometimes stylized as FHDZMN) one of the core artists responsible for the latest xenocultural trend to grip Dhaka, electronic music.</p>

				</div> <!--col-md-7 ends-->
			</div> <!--post ends-->

	
		</div> <!--popular ends-->
	</div>
</div> <!-- stripe-row ends -->








	<div id="footer" style="background-color:black;">
      



		
      <div class="container">
        <div class="col-sm-2 text-center stripe-y-center"><a href="#"><h1>ABOUT US</h1></a></div>
		<div class="col-sm-2 text-center stripe-y-center"><a href="#"><h1>ADVERTISE</h1></a></div>
		<div class="col-sm-4 text-center"><a href="#"><img src="{% static "img/stripe_icon.png" %}"><h2>bdnews24.com</h2></a></div>
		<div class="col-sm-2 text-center stripe-y-center"><a href="#"><h1>CONTACT US</h1></a></div>
		<div class="col-sm-2 text-center stripe-y-center"><a href="#"><h1>SUBSCRIBE</h1></a></div>
      </div>
    </div>





    </div> <!-- container ends-->
	



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>


	<script>
		$(document).ready(function() {
 
			$("#owl-demo").owlCarousel({
  //  items : 3,
    lazyLoad : true,
    navigation : false,
pagination: true,
 navigation:true,
    navigationText: [
      "<img src='{% static "img/rarrow.png" %}' style='transform: rotate(180deg);'>",
      "<img src='{% static "img/rarrow.png" %}'>"
      ],
}
);
 
		});		


		
	</script>


<!-- Include js plugin -->
<script src="{% static "owl-carousel/owl.carousel.js" %}"></script>
  </body>
</html>
